@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/* START - Base tags stylesheet setup - START*/
html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  overflow-x:hidden;
}

h1{
  font-family: "Lato", sans-serif;
  color:#fff;
}

h2{
  font-family: "Lato", sans-serif;
  font-size: 32px;
  margin: 0;
  color:#fff;
}

h3{
  font-family: "Lato", sans-serif;
  margin: 0;
  color:#fff;
}

h4{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color:#f6f3f3;
}
/* END - Base tags stylesheet setup - END */

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/* START - Global class tags stylesheet setup - START */

.main{
  margin: 0 auto;
}
.title{
  text-align: center;
}
.heading{
  font: 400 15px/1.8 "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: fixed;
  top: 25%;
}

.heading-style{
  font: 400 15px/1.8 "Lato", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.bg-overlay{
  background-color: rgba(40, 46, 52, 0.334);
}

.bg-color{
  background-color: #282E34;
}
.bg-color-2{
  background-color: #282E34;
}


/* --------------- CONTAINER SETUPS --------------- */

.parallax-container{
  min-width: 200px;
  background-repeat: repeat;
  padding: 42px 0px;
  color:rgba(255, 255, 255, 0.774);
}
/* --------------- IMAGE SETUPS --------------- */

.parallax-img{
  min-height: 815px;

  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------- VIDEO SETUPS --------------- */

.parallax-video{
  width: 100%;
  min-height: 1080px;
  top: -100px;
}

.parallax-video video{
  position: fixed;
  min-width: 100%;
  top:0;
  z-index: -9999;
}

.fullscreen-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}
.fullscreen-video video{
  min-height:100%;
  min-width:100%;
}
/* END - Global class tags stylesheet setup - END */

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/* START - Class tags stylesheet setup for index.html - START */

.index-bg1{
  background-image: url(../src/img/bak-img-1.png);
}

.index-bg2{
  background-image: url(../src/img/bak-img-2.png);
}

.index-bg3{
  background-image: url(../src/img/bak-img-3.png);
}

/* END - Class tags stylesheet setup for index.html - END */

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/* START - Customized navigation menu & customized animations - START */
.navbar-animation {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.navbar-animation * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar-animation li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.navbar-animation a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.navbar-animation a:before,
.navbar-animation a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.navbar-animation a:before {
  left: 0;
  top: 0;
  border-left: 3px solid rgba(255,255,255,.5);
  border-top: 3px solid rgba(255,255,255,.5);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.navbar-animation a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid rgba(255,255,255,.5);
  border-bottom: 3px solid rgba(255,255,255,.5);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.navbar-animation a:hover,
.navbar-animation .current a {
  color: #ffffff;
}
.navbar-animation a:hover:before,
.navbar-animation .current a:before,
.navbar-animation a:hover:after,
.navbar-animation .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.navbar-top-bg{
  background-color: rgba(40, 46, 52);
  box-shadow: 0 0 4px grey;
  transition: background-color 1s ease 0s, box-shadow 1s ease 0s;
}

.navbar-top-transparent{
  background-color: rgba(40, 46, 52, 0);
  box-shadow: 0 0 0 grey;
  transition: background-color 1s ease 0s, box-shadow 1s ease 0s;
}

.dropdown-bg{
  background-color: rgba(40, 46, 52);
  box-shadow: 0 2px 2px -2px grey;
  transition: background-color 1s ease 0s;
}
.dropdown-transparent{
  background-color: rgba(40, 46, 52, 0);
  box-shadow: 0;
  transition: background-color 1s ease 0s;
}

.dropdown-menu{
  border: 0;
}

.dropdown-style{
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 150;
  margin-left: 10px !important;
  max-width: 96px;
  letter-spacing: 1px;
}

.navbar-wrapper{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.navbar-logo{
  width: 52px;
  margin-right: 25px;
}

@media(max-width: 990px){
  .navbar-wrapper{
    padding-right:3rem;
    padding-left:3rem;
  }
  .dropdown-bg{
    background-color: rgba(40, 46, 52);
    box-shadow: 0 0px 0px 0px grey;
    transition: background-color 1s ease 0s;
  }

  .dropdown-transparent{
    background-color: rgba(40, 46, 52, 1);
    box-shadow: 0;
  }
  .navbar-top-transparent{
    background-color: rgba(40, 46, 52, 1);
    box-shadow: 0 0 0 grey;
    transition: background-color 1s ease 0s, box-shadow 1s ease 0s;
  }
  .dropdown-style{
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0px !important;
    max-width: 100%;
    font-weight: 150;
    letter-spacing: 1px;
  }
}
/* END - Customized navigation menu animations - END */

